#search-wrapper {
  display: flex;
  align-items: center;
}

#search-wrapper .field {
  width: 100%;
}

#search-wrapper #show-code {
  cursor: pointer;
}

#card-wrapper {
  text-align: center;
}

#card-wrapper img {
  max-width: 100%;
  border-radius: 25px;
  width: 400px;
}
